<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
</head>
<body>
{% block body %}
    <label>Task: </label>{{ myTask.task }}<br>
    <label>Due Date: </label>{{ myTask.DueDate |date('Y-m-d H:i:s') }}<br>
    <label>Task Created: </label>{{ myTask.Created |date('Y-m-d H:i:s') }}<br>
    <label>Task Updated</label>{{ myTask.Updated |date('Y-m-d H:i:s') }}<br>
    <br><br>
{% endblock %}
{% block javascripts %}{% endblock %}
</body>
</html>
